---
import { Icon } from 'astro-icon';
---

<Icon name="tabler:home" class="w-5 h-5 inline-block align-text-bottom" />
<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white max-lg:hidden"> Home</span>
