---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
// import Announcement from '~/components/widgets/Announcement.astro';

import { headerNavigation, footerNavigation } from '~/utils/i18n/translations'

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
}

const {links, actions } = headerNavigation;
const { meta } = Astro.props;

---

<Layout {meta}>
  <!--slot name="announcement">
    <Announcement />
  </slot-->
  <slot name="header">
    <Header {links} {actions} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {footerNavigation} />
  </slot>
</Layout>
